@import url('https://fonts.googleapis.com/css?family=Muli');

body{font-family: 'Muli', sans-serif;}

ul.none{
  list-style-type: none;
  padding: 0;
  margin:0;
}

i{
  color: #092A47;
  transition: color 1s;
}

a i:hover{
  color: #d88c00;
}

hr{
  border-color: slategrey; 
}

.glass{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image:url('../img/bg2.png');
  background-size: cover;
  background-position: center; 
  filter:blur(5px);
  transform: scale(1.1); 
}

.glass .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.alpha-bg{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49); 
  padding:50px;
}

#about{
	padding-top: 300px;
  height: 675px;
}

.intro{
  padding-top: 100px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro .profile-img{
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.intro .profile-img img{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

.section{
	margin-top: 100px;
}

.section-heading span{
  padding: 10px; 
  background-color:#3e5cb7;
  color: white; 
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -60%); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project{
  position: relative;
  background-color:white;
  padding:10px;
  margin-top: 75px;   
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.project img{
  max-height: 150px;
}

.project-heading span{
  padding: 5px; 
  background-color:#d88c00;
  color: white; 
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-10%, -60%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.project-even-heading span{
  padding: 5px; 
  background-color:#d88c00;
  color: white; 
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(10%, -60%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.skill{
  text-align: center;
}
.skill i{
  font-size:5em; 
  transition: color 1s;
}

.skill i:hover{
  color: #d88c00;
}

.footer { 
  margin-top: 50px;
  padding-top:50px;
  padding-bottom:50px;
	background-color: #121212;;
  color: #FDFDFD;
}
